/* colores
https://visme.co/blog/wp-content/uploads/2016/09/website46-1024x512.jpg
265077  celeste gris
022140  azul profundo
494B68  violeta gris
1E4258  azul gris
2D5F5D  verde

mios:
00242D azul oscuro
*/
.header{
  height: 116px;
  width: 920px;
  background: #2D5F5D;
  text-align: center;
  margin: 0 auto;
  padding:0;
}

#pre-body{
  width: 55%;
  height: 74px;
  background: #595B78;
  text-align: center;
  margin: auto;
  padding:0;
  font-size: 190%;
  padding-top: 20px;
  padding-bottom: 20px;

  margin-top: 15px;
  margin-bottom: 40px;
  /*
  line-height: 64px;
  */
}

.body{
  width: 100%;
  background:#022140;
}

#proyectos, #conteiner_muestras {
	display: inline-block;
	margin: 0 auto;
	vertical-align: top;
}
#proyectos > h3{
 text-align: center;
}
#proyectos{
  text-align: justify;
  width: 23%;
  height: 240px;
  background:#C3C3C3;

  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#conteiner_muestras{
  text-align: left;
  width: 75%;
  /*
  background:#8B8E90;
  */
  background:#265077;
  position: right;
}

.titulo_proyecto{
  font-size: 35px;
}
.footer{
  height: 300px;
  background: black;
  align-self: center;
  text-align: center;
}

body, html {
    width: 100%;
    height: 100%;
    background: #022140;
    margin:0;
    padding:0;
}
p{
  color: white;
  font-family: "Serif", sans-serif;
}

a{
  color: black;
}

h1{
  margin-top: 0;
}